{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}
    
    
    <div class="container">
        <div class="row">
            <div class="cadre col-md-4 offset-md-4 text-center d-flex align-items-center justify-content-center">Courses</div>
        </div>

        <div class="mt-5">
            <h2>Légumes et fruits</h2>
        </div>
        
        <div class="cadre d-flex justify-content-center row">
            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 1</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>

            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 2</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>

            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 3</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h2>Viandes et poissons</h2>
        </div>
        
        <div class="cadre d-flex justify-content-center row">
            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 1</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>

            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 2</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>

            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 3</div>
                <div class="col-md-1 d-flex align-items-center">
                    <button type="button" class="btn btn-outline-danger ">Supprimer</button>
                </div>
            </div>
        </div>


        <div class="mt-5">
            <h2>...</h2>
        </div>


        <div class="cadre d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Ajouter un ingrédient</button>
        </div>

        

    </div>

{% endblock %}