{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="cadre col-md-4 offset-md-4 text-center d-flex align-items-center justify-content-center">Repas de la semaine</div>
        </div>

        <div class="mt-5">
            <h2>Lundi midi</h2>
        </div>
        
        <div class="cadre d-flex justify-content-center row">
            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Nom repas</div>

            </div>

        </div>

        <div class="mt-5">
            <h2>Lundi soir</h2>
        </div>
        
        <div class="cadre d-flex justify-content-center row">
            <div class="cadre row col-md-12 d-flex">
                <div class=" col-md-4 d-flex align-items-center">Ingrédient 1</div>
            </div>
        </div>


        <div class="mt-5">
            <h2>...</h2>
        </div>


        <div class="cadre d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary">Ajouter un repas</button>
        </div>

        

    </div>
    
{% endblock %}